@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-blueGray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
  }
  .bg-squarePurple-100 {
    background-color: #52424D;
  }
  .bg-squareLightPurple-100 {
    background-color: #B9A6B3;
  }
  .text-squareLightPurple-100 {
    color: #B9A6B3;
  }
}


@layer components {
  .main-container {
    @apply relative bg-blueGray-100 w-full
  }
  
  .main-container-margin {
    @apply ml-52 relative bg-blueGray-100
  }
  .drag-pointer {
    background-color: #B9A6B3;
    width: 20px;
    height: 20px;
    border-radius: 50%;

  }
}