@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-blueGray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
  }
  .bg-squarePurple-100 {
    background-color: #52424d;
  }
  .bg-squareColorPurple-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(204, 38, 175, var(--tw-bg-opacity));
  }
  .bg-squareLightPurple-100 {
    background-color: #b9a6b3;
  }
  .text-squareLightPurple-100 {
    color: #b9a6b3;
  }
  .text-squareColorPurple-100 {
    color: #cc26af;
  }
}

@layer components {
  .main-container {
    @apply relative bg-blueGray-100 w-full;
  }

  .main-container-margin {
    @apply ml-52 relative bg-blueGray-100;
  }
  .drag-pointer {
    background-color: #b9a6b3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  #preview-container .template-layer {
  }

  .template-layer {
    position: absolute;
  }
  .annotation-layer {
    z-index: 9;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  .modal-content {
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
